<div id="content">
    <div id="left-content">
        <div id="nodes-list"></div>
        <div id="solution-table"></div>
    </div>

    <div id="right-content">
        <div id ="buttons">
        </div>
        <div id ="solution">
            <p>Solucion:</p>
            <p style="vertical-align: middle;">
                A, B, C, K
            </p>
        </div>
        <div id="tree">
            <canvas id="canvas" width="760" height="520"></canvas>
        </div>
    </div>
</div>

<script>
    $('#nodes-list').w2grid({
        name: 'nodes-list',
        url: { get: 'data/example' },
        header: 'List of Nodes',
        show: {
            header         : true,  // indicates if header is visible
            toolbar        : true,  // indicates if toolbar is visible
            footer         : false,  // indicates if footer is visible
            columnHeaders  : true,   // indicates if columns is visible
            lineNumbers    : false,  // indicates if line numbers column is visible
            expandColumn   : false,  // indicates if expand column is visible
            selectColumn   : false,  // indicates if select column is visible
            emptyRecords   : true,   // indicates if empty records are visible
            toolbarReload  : true,   // indicates if toolbar reload button is visible
            toolbarColumns : false,   // indicates if toolbar columns button is visible
            toolbarSearch  : false,   // indicates if toolbar search controls are visible
            toolbarAdd     : true,   // indicates if toolbar add new button is visible
            toolbarDelete  : true,   // indicates if toolbar delete button is visible
            toolbarSave    : false,   // indicates if toolbar save button is visible
            selectionBorder: true,   // display border arround selection (for selectType = 'cell')
            recordTitles   : true    // indicates if to define titles for records
        },
        columns: [
            { field: 'name', caption: 'Node', size: '10%' },
            { field: 'cost', caption: 'Cost', size: '10%' },
            { field: 'father', caption: 'Father', size: '20%' },
            { field: 'children', caption: 'Children', size: '40%' },
            { field: 'goal', caption: 'Goal', size: '20%' }            
        ]
    });

$('#solution-table').w2grid({
        name: 'solution-table',
        url: { get: 'data/solution' },
        header: 'Solution',
        show: {
            header         : true,  // indicates if header is visible
            toolbar        : false,  // indicates if toolbar is visible
            footer         : false,  // indicates if footer is visible
            columnHeaders  : true,   // indicates if columns is visible
            lineNumbers    : true,  // indicates if line numbers column is visible
            expandColumn   : false,  // indicates if expand column is visible
            selectColumn   : false,  // indicates if select column is visible
            emptyRecords   : true,   // indicates if empty records are visible
            toolbarReload  : false,   // indicates if toolbar reload button is visible
            toolbarColumns : false,   // indicates if toolbar columns button is visible
            toolbarSearch  : false,   // indicates if toolbar search controls are visible
            toolbarAdd     : false,   // indicates if toolbar add new button is visible
            toolbarDelete  : false,   // indicates if toolbar delete button is visible
            toolbarSave    : false,   // indicates if toolbar save button is visible
            selectionBorder: true,   // display border arround selection (for selectType = 'cell')
            recordTitles   : true    // indicates if to define titles for records
        },
        columns: [
            { field: 'open', caption: 'Open', size: '50%' },
            { field: 'closed', caption: 'Closed', size: '50%' }        
        ]
    });
</script>