<!DOCTYPE html PUBLIC>
<html>
<head>
  <title><%= title %></title>

  <% javascript.each do |path| %>
  <script type="text/javascript" src= "<%= path %>" > </script>
  <%end%>

  <% stylesheet.each do |path| %>
  <link rel="stylesheet" type="text/css" href="<%= path %>" />
  <%end%>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  
</head>
<body>
  <%= yield %>
</body>
</html>